*.iml
build/android/.gradle
build/android/.idea
build/android/app/Media
build/android/app/.cxx
build/android/app/src/main/assets
build/android/app/build
build/android/framework
build/android/local.properties
.vscode
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
external/